.row-fluid
  .span3.well
    %p
      = form_tag browse_index_path, :method => "get", :remote => true do
        = text_field_tag "word", params[:word], :class => "search-field"
        = submit_tag "辞書検索", :class => "btn"
      #search-result
  .span9
    = form_tag browse_index_path, :method => "get" do
      = text_field_tag "url", params[:url], :class => "url_field"
      = submit_tag "アクセス", :class => "btn"
    %iframe{:height => 1000, :width => "100%", :src => @iframe_url}
