!!!
%html
  %head
    %title MyDictionary
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to "MyDictionary", root_path, :class => "brand"
          - if user_signed_in?
            = link_to "ログアウト", destroy_user_session_path, :class => "btn pull-right", :method => "delete"
            .navbar-text.pull-right
              ログインユーザー：
              = current_user.email
          - else
            = link_to "ログイン", new_user_session_path, :class => "btn pull-right"
    .container-fluid
      = yield
